*~
*.o
*.so
*.user
*.project
software/build/
/software/pc/logs/
/software/pc/config/local.ini
.classpath
.cproject
.settings
project.properties
hardware/*/*.b\#*
hardware/*/*.s\#*
*.class
/bin/
/Debug/
