*~
*.o
*.so
*.user
*.project
software/build/
/software/pc/logs/
/software/pc/config/local.ini
.classpath
.cproject
.settings
project.properties
hardware/*/*.b\#*
hardware/*/*.s\#*
*.class
/bin/
/Debug/
/.metadata/.lock
/.metadata/.log
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.mylyn/.taskListIndex/segments_1
/.metadata/.mylyn/.taskListIndex/segments.gen
/.metadata/.mylyn/.tasks.xml.zip
/.metadata/.mylyn/tasks.xml.zip
/.metadata/.plugins/org.eclipse.cdt.core/.log
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.debug.core/.launches/Begin.launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/New_configuration (1).launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/New_configuration.launch
/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/11/46/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/11/46/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/version.ini
/software/avr/atmega324p/.metadata/.lock
/software/avr/atmega324p/.metadata/.log
/software/avr/atmega324p/.metadata/.mylyn/repositories.xml.zip
/software/avr/atmega324p/.metadata/.mylyn/.taskListIndex/segments_1
/software/avr/atmega324p/.metadata/.mylyn/.taskListIndex/segments.gen
/software/avr/atmega324p/.metadata/.mylyn/tasks.xml.zip
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.core/formation1.1415633331265.pdom
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.core/language.settings.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.core/.log
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.C
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.projects/formation1/.indexes/properties.index
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/software/avr/atmega324p/.metadata/version.ini
/.metadata/.plugins/org.eclipse.core.resources/.history/12/50726c8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/13/a0dd9a989d70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/16/100cd7ff9c70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/17/70cae4710e70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/20/70df4bf22f70001417329a2e5b99fa0d
/.metadata/.plugins/org.eclipse.core.resources/.history/28/401b5c2db570001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/34/10798e9d596f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/40/108844d41670001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/43/60996c8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/50/70a0df2a2f70001417329a2e5b99fa0d
/.metadata/.plugins/org.eclipse.core.resources/.history/52/80ce138b1670001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/56/c01ce7f91370001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/5b/40bc6e8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/5e/d0efdfa61770001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/61/b0b5f89a9b70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/62/00ee18e2576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/65/e06295341f70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/67/c082a30f3170001417329a2e5b99fa0d
/.metadata/.plugins/org.eclipse.core.resources/.history/69/90ef8343596f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/6c/10d33908586f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/6c/a02339d79d70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/6e/51726c8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/72/50e82ecd9c70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/73/e0590d365e6b00141ef8d3998268ced5
/.metadata/.plugins/org.eclipse.core.resources/.history/74/30b4910ab570001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/76/90706b2c2f70001417329a2e5b99fa0d
/.metadata/.plugins/org.eclipse.core.resources/.history/7c/8078222eb570001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/7e/10476e8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/7/f0811a0db570001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/7f/b02a4b509c70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/7f/f0d5ad209c70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/83/b0b607121f70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/84/40c675a8c070001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/87/5067cde20f70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/88/100f98ecb470001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/8/b064dec7c070001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/8b/305e240c1d70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/9/009384fd0c70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/91/d06edc0e586f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/93/1039d15a1670001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/93/f06bdabdb470001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/95/702a3487b270001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/9d/e08fc8710e70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/9e/4040a981b270001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/9f/c08316959b70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/b/1037eebe1e70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/b/b0a246869d70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/b/c0fbc7009d70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/c/106a1a979b70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/c2/1077f1b5c070001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/c/508109189d70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/c5/80764be59a70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/c9/30956e8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/cb/414b6c8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/cd/2035ce031470001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/d1/40c7d8d20f70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/d1/805612090d70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/d3/40cca400b170001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/d5/a058640e586f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/d6/b0d9f37eb170001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/d6/f0c7efcf9a70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.history/d7/801d4010586f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/dd/f035536adb6900141ea4a1834390c87b
/.metadata/.plugins/org.eclipse.core.resources/.history/df/1008f0f9b070001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/e0/404b6c8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/e/a04a96c81e70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/ee/10f07cf8b070001416efbc1ba1039782
/.metadata/.plugins/org.eclipse.core.resources/.history/f0/216e6e8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/f5/206e6e8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/f6/2007e4710e70001410feac146c81c1a6
/.metadata/.plugins/org.eclipse.core.resources/.history/f7/20fd6b8d576f00141a7a8f05ef67f5f9
/.metadata/.plugins/org.eclipse.core.resources/.history/f9/c00c646d9c70001413dcd5ebf9fe3ad9
/.metadata/.plugins/org.eclipse.core.resources/.projects/pc/.indexes/e4/3c/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/pc/.indexes/e4/8/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/pc/.location
/.metadata/.plugins/org.eclipse.core.resources/.projects/pc/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/pc/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/11.tree
/.metadata/.plugins/org.eclipse.debug.core/.launches/Begin (1).launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/New_configuration (2).launch
/.metadata/.plugins/org.eclipse.jdt.core/1000864512.index
/.metadata/.plugins/org.eclipse.jdt.core/1259291233.index
/.metadata/.plugins/org.eclipse.jdt.core/1513993030.index
/.metadata/.plugins/org.eclipse.jdt.core/2259717368.index
/.metadata/.plugins/org.eclipse.jdt.core/2307328643.index
/.metadata/.plugins/org.eclipse.jdt.core/2426646370.index
/.metadata/.plugins/org.eclipse.jdt.core/2598035366.index
/.metadata/.plugins/org.eclipse.jdt.core/2650241363.index
/.metadata/.plugins/org.eclipse.jdt.core/2830207304.index
/.metadata/.plugins/org.eclipse.jdt.core/3542660237.index
/.metadata/.plugins/org.eclipse.jdt.core/3605804578.index
/.metadata/.plugins/org.eclipse.jdt.core/3900037835.index
/.metadata/.plugins/org.eclipse.jdt.core/392775124.index
/.metadata/.plugins/org.eclipse.jdt.core/3938652823.index
/.metadata/.plugins/org.eclipse.jdt.core/4259054212.index
/.metadata/.plugins/org.eclipse.jdt.core/460152253.index
/.metadata/.plugins/org.eclipse.jdt.core/577861363.index
/.metadata/.plugins/org.eclipse.jdt.core/664741535.index
/.metadata/.plugins/org.eclipse.jdt.core/936677851.index
/.metadata/.plugins/org.eclipse.jdt.core/989528713.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/pc/2014/11/47/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/pc/2014/11/47/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/projet/2014/11/46/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/projet/2014/11/46/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/projet/2014/11/47/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/projet/2014/11/47/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/11/47/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/11/47/refactorings.index
/.recommenders/caches/identified-project-coordinates.json
/.recommenders/caches/manual-mappings.json
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.fdt
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.fdx
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.fnm
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.frq
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.nrm
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.prx
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.tii
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_4.tis
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_5
/.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments.gen
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/index-0.0.0-20140605.014212-1.zip
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/_remote.repositories
/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
/software/pc/bin/.gitignore
/.metadata/.plugins/org.eclipse.team.cvs.core/.running
/.metadata/.plugins/org.eclipse.core.resources/11.snap
/.metadata/.plugins/org.eclipse.core.resources/.history/47/e0288227c470001411f8bce0cc26cffa
/.metadata/.plugins/org.eclipse.core.resources/.history/5b/20debfefc370001411f8bce0cc26cffa
/.metadata/.plugins/org.eclipse.core.resources/.projects/pc/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/pc/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/software/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/software/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/software/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/software/.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/TechTheINTech/2.tree
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/TechTheINTech/.location
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/HNRobot/.location
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/HNRobot/.markers.snap
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/HNRobot/.syncinfo.snap
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/TechTheINTech/1.tree
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/TechTheINTech/.markers
/software/.metadata/.plugins/org.eclipse.core.resources/.projects/TechTheINTech/org.eclipse.jdt.core/state.dat
/software/.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
/software/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/software/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/software/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/software/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/software/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/software/.metadata/.plugins/org.eclipse.core.resources/.snap
/software/.metadata/.plugins/org.eclipse.debug.core/.launches/Default Configuration.launch
/software/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/software/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/software/.metadata/.plugins/org.eclipse.jdt.core/1259291233.index
/software/.metadata/.plugins/org.eclipse.jdt.core/1513993030.index
/software/.metadata/.plugins/org.eclipse.jdt.core/2259717368.index
/software/.metadata/.plugins/org.eclipse.jdt.core/2307328643.index
/software/.metadata/.plugins/org.eclipse.jdt.core/2426646370.index
/software/.metadata/.plugins/org.eclipse.jdt.core/2598035366.index
/software/.metadata/.plugins/org.eclipse.jdt.core/3542660237.index
/software/.metadata/.plugins/org.eclipse.jdt.core/3624556908.index
/software/.metadata/.plugins/org.eclipse.jdt.core/3900037835.index
/software/.metadata/.plugins/org.eclipse.jdt.core/392775124.index
/software/.metadata/.plugins/org.eclipse.jdt.core/3938652823.index
/software/.metadata/.plugins/org.eclipse.jdt.core/460152253.index
/software/.metadata/.plugins/org.eclipse.jdt.core/664741535.index
/software/.metadata/.plugins/org.eclipse.jdt.core/989528713.index
/software/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/software/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
/software/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/software/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/software/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/software/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/software/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/software/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
/software/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
/software/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
/software/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/software/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/software/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/TechTheINTech/2014/11/46/refactorings.history
/software/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/TechTheINTech/2014/11/46/refactorings.index
/software/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/software/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/software/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
/software/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/software/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/software/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
/software/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/software/.metadata/version.ini
/software/.metadata/.log
/software/.metadata/.lock
/software/avr/#formation2#
/software/avr/atmega328p/formation3/main.cpp
/software/avr/atmega328p/formation2/main.cpp
