*~
*.o
*.so
*.user
*.project
software/build/
/software/pc/logs/
/software/pc/config/local.ini
.classpath
.cproject
.settings
project.properties
hardware/*/*.b\#*
hardware/*/*.s\#*
*.class
/bin/
/Debug/
/.metadata/.lock
/.metadata/.log
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.mylyn/.taskListIndex/segments_1
/.metadata/.mylyn/.taskListIndex/segments.gen
/.metadata/.mylyn/.tasks.xml.zip
/.metadata/.mylyn/tasks.xml.zip
/.metadata/.plugins/org.eclipse.cdt.core/.log
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.debug.core/.launches/Begin.launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/New_configuration (1).launch
/.metadata/.plugins/org.eclipse.debug.core/.launches/New_configuration.launch
/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/11/46/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/11/46/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/version.ini
/software/avr/atmega324p/.metadata/.lock
/software/avr/atmega324p/.metadata/.log
/software/avr/atmega324p/.metadata/.mylyn/repositories.xml.zip
/software/avr/atmega324p/.metadata/.mylyn/.taskListIndex/segments_1
/software/avr/atmega324p/.metadata/.mylyn/.taskListIndex/segments.gen
/software/avr/atmega324p/.metadata/.mylyn/tasks.xml.zip
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.core/formation1.1415633331265.pdom
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.core/language.settings.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.core/.log
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.C
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.projects/formation1/.indexes/properties.index
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.0.20140606-0033.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/software/avr/atmega324p/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/software/avr/atmega324p/.metadata/version.ini
